# Compiled class file
*.class

# Log file
*.log

### Eclipse ###  
.settings/

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath

### IntelliJ ###
.idea
*.iml
/out/

### Gradle ###
.gradle
/build/
!/gradle/wrapper

# Mac DS file
.DS_Store

/bin/

# vim swap files
.swp

##ignore version properties (otherwise you have to add or remove it from git after avery build)
version.properties
